<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee application</title>
</head>
<body>
<h1>List of employees</h1>

<table border="1px solid black">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Title</th>
        <th>Salary</th>
        <th>Start date</th>   </tr>
    </thead>
    <tbody>
    <tr th:each="employee :${employees}">
        <td th:text="${employee.id}">Id</td>
        <td><a th:href="@{/employees/{id}(id=${employee.id})}" th:text="${employee.name}">Name</a></td>
        <td th:text="${employee.rank}">Rank</td>
        <td th:text="${employee.salary}">Salary</td>
        <td th:text="${employee.started}">Start date</td>
        <td><a th:href="@{/deleteEmployee/{id}(id=${employee.id})}">Delete</a></td>
    </tr>
    </tbody>
</table>
<br><br>
<ul>
    <li th:each="employee : ${employees}">
        <span th:text = "${employee.id}" >id</span>
        <span th:text = "${employee.name}" >name</span>
        <span th:text = "${employee.rank}" >rank</span>
        <span th:text = "${employee.salary}" >salary</span>
        <span th:text = "${employee.started}" >started</span>
    </li>
</ul>

<form th:action="@{/employees}" method="post" th:object="${newEmployee}">
    Id: <input th:field="*{id}" /> <br/>
    Name: <input th:field="*{name}" /> <br/>
    Rank: <input th:field="*{rank}" /> <br/>
    Salary: <input th:field="*{salary}" /> <br/>
    Started job: <input th:date="*{started}" /> <br/>
    <input type="submit" value="Add" />
</form>
</body>
</html>